<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.poom.mapper.RehomeMapper">



<select id="rehomeList" resultType="com.hk.poom.dto.RehomeAddDTO">
SELECT * FROM REHOME r, BOARD b WHERE r.BNO = b.BNO ORDER BY cre_date_b asc
</select>

    
<select id="category" resultType="com.hk.poom.dto.CategoryDTO">
SELECT * from category start with cateCodeRef is null connect by prior cateCode = cateCodeRef
</select>    
    

<insert id="rehomeAddPost" parameterType="com.hk.poom.dto.RehomeAddDTO">
<selectKey resultType="int" keyProperty="bno" order="BEFORE">
        SELECT MAX(BNO)+1 FROM BOARD 
    </selectKey>
insert all
into rehome (bno, rno, mno, gender, age, neut, vac, cost, cateCode, img_r1, img_r2, img_r3, img_r4, img_r5)
values (#{bno},#{rno}, #{mno}, #{gender}, #{age}, #{neut}, #{vac}, #{cost},#{cateCode}, #{img_r1}, #{img_r2}, #{img_r3}, #{img_r4}, #{img_r5})

into board (cateCode, bno, title, cre_date_b, mod_date_b, viewcnt, likecnt,  stmt_b, cont_b, id_writer)
values (#{cateCode},#{bno}, #{title}, sysdate, sysdate, #{viewcnt}, #{likecnt}, #{stmt_b}, #{cont_b}, #{id_writer})
  

 select * from dual
 
</insert>

<select id="rehomeGetOne" resultType="com.hk.poom.dto.RehomeUpdateDTO">
select * from BOARD  where BNO=#{bno} 
</select>

<update id="rehomeUpdate">
update rehome
set  bno=#{bno}
,    rno=#{rno}
,    mno=#{mno}
,    gender=#{gender}
,    age=#{age}
,    neut=#{neut}
,    vac=#{vac}
,    cost=#{cost}
    where bno=#{bno}
     

</update>
<update id="rehomeUpdate1">
update board
set  bno=#{bno}
,    title=#{title}
,    mod_date_b=sysdate
,    viewcnt=#{viewcnt}+1
,    likecnt=#{likecnt}
,    stmt_b=#{stmt_b}
,    cont_b=#{cont_b}
,    id_writer=#{id_writer}
    where bno=#{bno}
    
    </update>
    
<delete id="rehomeDelete">
{
call
begin
delete from rehome where bno=#{bno};
delete from board where bno=#{bno};
end
}
</delete> 

<select id="rehomeCateName" resultType="string">
select catename from category  where catecode=#{cateCode} 
</select>

<update id="rehomeCateUpdate">
	update board set catename=#{cateName} where bno=#{bno}
</update>

    
<select id="rehomeRead" resultType="com.hk.poom.dto.RehomeReadDTO">
SELECT * FROM rehome  WHERE bno=#{bno} 

</select>    
  
<insert id="report" parameterType="com.hk.poom.dto.RehomeReportDTO">
insert into report (bno, report_cont)
values (#{bno}, #{report_cont})
</insert> 
    
</mapper>