<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.poom.mapper.RehomeMapper">



<select id="rehomeList" resultType="com.hk.poom.dto.RehomeAddDTO">
SELECT * FROM REHOME r, BOARD b, PAYMENT p WHERE r.BNO = b.BNO and b.BNO=p.BNO ORDER BY cre_date_b desc
</select>

    
<select id="category" resultType="com.hk.poom.dto.CategoryDTO">
SELECT * from category start with cateCodeRef is null connect by prior cateCode = cateCodeRef
</select>    
    

<insert id="rehomeAddPost" parameterType="com.hk.poom.dto.RehomeAddDTO">
<selectKey resultType="int" keyProperty="bno" order="BEFORE">
        SELECT MAX(BNO)+1 FROM BOARD 
    </selectKey>
insert into rehome (bno, rno, mno, gender, age, neut, vac, cost, cateCode, img_r1, img_r2, img_r3, img_r4, img_r5)
values (#{bno},#{rno}, #{mno}, #{gender}, #{age}, #{neut}, #{vac}, #{cost},#{cateCode}, #{img_r1}, #{img_r2}, #{img_r3}, #{img_r4}, #{img_r5})
</insert>

<insert id="rehomeAddPost1" parameterType="com.hk.poom.dto.RehomeAddDTO">

insert into board (cateCode, bno, title, cre_date_b, mod_date_b,  stmt_b, cont_b, id_writer)
values (#{cateCode},#{bno}, #{title}, sysdate, sysdate, #{stmt_b}, #{cont_b}, #{id_writer})  
</insert>

<insert id="rehomeAddPost2" parameterType="com.hk.poom.dto.RehomeAddDTO">
<selectKey resultType="int" keyProperty="pay_num" order="BEFORE">
        SELECT MAX(pay_num)+1 FROM payment 
    </selectKey>
insert into payment (id_saler,bno, stmt_sale, stmt_buy, sale_chk, buy_chk, pay_num, cost)
values (#{id_writer}, #{bno}, 2, 2, 0, 0, #{pay_num}, #{cost})
</insert>


<select id="rehomeGetOne" resultType="com.hk.poom.dto.RehomeUpdateDTO">
select * from BOARD  where BNO=#{bno} 
</select>

<update id="rehomeUpdate">
update rehome
set  bno=#{bno}
,    mno=#{mno}
,    gender=#{gender}
,    age=#{age}
,    neut=#{neut}
,    vac=#{vac}
,    cost=#{cost}
,	 img_r1=#{img_r1}
,	 img_r2=#{img_r2}
,	 img_r3=#{img_r3}
,	 img_r4=#{img_r4}
,	 img_r5=#{img_r5}
    where bno=#{bno}
     

</update>
<update id="rehomeUpdate1">
update board
set  bno=#{bno}
,    title=#{title}
,    mod_date_b=sysdate
,    stmt_b=#{stmt_b}
,    cont_b=#{cont_b}
,    id_writer=#{id_writer}
    where bno=#{bno}
    
    </update>
    
<delete id="rehomeDelete">
{
call
begin
delete from rehome where bno=#{bno};
delete from board where bno=#{bno};
end
}
</delete> 

<select id="rehomeCateName" resultType="string">
select catename from category  where catecode=#{cateCode} 
</select>

<update id="rehomeCateUpdate">
	update board set catename=#{cateName} where bno=#{bno}
</update>

    
<select id="rehomeRead" resultType="com.hk.poom.dto.RehomeReadDTO">
SELECT * FROM rehome r,board b  WHERE r.bno=b.bno and b.bno=#{bno} 

</select>    
  
<insert id="report" parameterType="com.hk.poom.dto.RehomeReportDTO">
insert into report (bno, report_cont)
values (#{bno}, #{report_cont})
</insert> 
    

<!-- <insert id="rehomePayPost" parameterType="com.hk.poom.dto.AdminPayDTO"> -->
<!-- 	<selectKey resultType="int" keyProperty="pay_num" order="BEFORE"> -->
<!--         SELECT MAX(PAY_NUM)+1 FROM PAYMENT -->
<!--     </selectKey> -->
<!-- insert into payment (id_saler, id_buyer, pay_num, sale_chk, buy_chk, stmt_sale, stmt_buy, pay_date, salecnt, buycnt, cost, bno) -->
<!-- values (#{id_saler}, #{id_buyer}, #{pay_num}, 2, 2, 1, 1, sysdate, null, null, #{cost}, #{bno}) -->

<!-- </insert> -->



<update id="rehomePayPost">

update payment
set  bno=#{bno}
,    id_saler=#{id_saler}
,	 id_buyer=#{id_buyer}
,    pay_date=sysdate
,    stmt_sale=1
,    stmt_buy=1
,	 sale_chk=1
,	 buy_chk=1

    where bno=#{bno}

</update>






    
</mapper>